@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-tomorrow.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&display=swap");

.topic {
  font-family: "Noto Serif Oriya", serif;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

pre {
  /* margin-top: 0 !important; */
  background-color: #2d2d2d !important; /* Force background color */
  color: #f8f8f2 !important; /* Ensure text color is correct */
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 20px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
}

.file-preview h3 {
  font-family: "Noto Serif Oriya", serif !important;
  font-weight: 700 !important;
  /* margin-top: 0 !important; */
}

/* Custom syntax colors */
.token.comment {
  color: #75715e;
  font-style: italic;
}
.token.keyword {
  color: #66d9ef;
}
.token.string {
  color: #a6e22e;
}
.token.function {
  color: #e6db74;
}
.token.operator,
.token.punctuation {
  color: #f8f8f2;
}
